PyQt5
PyQtWebEngine
geographiclib
decorator

mavsdk==3.15.3
pymavlink==2.4.49
pyserial==3.5

torch
torchvision
torchaudio
ultralytics==8.4.37
opencv-python-headless==4.13.0.92

folium==0.20.0
shapely==2.1.2
qasync==0.28.0
pygame==2.6.1
pandas==2.3.3
numpy==2.2.6
scipy==1.15.3
scikit-learn
xgboost
